<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Filters>
    <Filter MinInterval="15">
      <Items>
        <Event>MotionDetect</Event>
        <Status>"Start</Status>
        <Type>Alarm</Type>
      </Items>
      <Actions>
        <TcpAction Port="11111" Address="192.168.200.157"/>
        <HttpGetAction Url="http://192.168.200.11"/>
      </Actions>
    </Filter>
  </Filters>
</Settings>